@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/** RESPONSIVE GRID STYLES START **/



/** RESPONSIVE GRID STYLES END **/
html{height:100%;}
html body{background-color:#708090;}

#root h1, #root h2, #root h3, #root h4, #root h5, #root h6{margin:0;}
#root ul{margin:0;}

form a {
  margin-left: 10px;
}

form label{color:#333;}

.wc-main{font-family: "Raleway",sans-serif; width: 100%; margin:0; padding:0;}

.wc-main div.nav-wrapper{background-color: #607d8b;}
.wc-main .nav-wrapper a.left.brand-logo{font-family: 'Amatic SC', cursive; text-transform:uppercase;}

.login.btn{background-color: #d6635b;}
.login.btn:hover, .login.btn:focus{background-color: #b5544d;}
.logout.btn{padding:0 15px;}

/** LANDING PAGE STYLES **/
.wc-landing--heading{
	padding: 5%;
	background-color: #fff;
	background-image: url(http://papers.co/wallpaper/papers.co-mf34-snow-ski-mountain-winter-nature-36-3840x2400-4k-wallpaper.jpg);
	background-size: cover;}

.wc-landing--heading h1{font-size: 3.2rem; text-transform: uppercase; margin:0;}

.wc-landing--section{color:#fff;}
.wc-landing--section > p{font-size: 2rem; margin: 5%;}

.wc-landing--section.leaderboard h3{background-color: #e9967a; padding: 2% 5%;}

.leaderboard-profile{
	position: relative;
	width: 90%;
	height: 100px;
	margin: 5% auto 0;
	background-color: #fff;
	color:#000;
}

/** DASHBOARD STYLES **/
.wc-dashboard--header{text-align: center;background-color:#fff;padding:5%;}
#root .wc-dashboard--header h3{margin-bottom:5%;}
.wc-dashboard--header strong{font-size:2rem; line-height: 1;}
.wc-dashboard--points{font-size:3rem;}
.wc-dashboard--verses{background-color:#aa5555;}
.wc-dashboard--bible{background-color:#666677;}
.wc-dashboard--exercise{background-color:#557799;}
.wc-dashboard--reading{background-color:#778866;}

.newGoalForm {}

.formTitle {
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
}

.newGoalForm form div:last-of-type {
  margin-bottom: 5%;
}
.newGoalForm form button {
    margin: 0 1em 0 0;
    padding: 0.25em 1em;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.newGoalForm form button:hover{background-color: #fff;color: #333;}

#root ul.leaderboard-list{margin-bottom:5%;}
.leaderboard-profile > div{float:left; text-align: center;}
.leaderboard-rank{width:20%;line-height: 1.7;font-size: 4rem;}
.leaderboard-name{width:45%;line-height: 4.8;font-size: 1.5rem;}
.leaderboard-points{width:35%;line-height: 2.3;font-size: 3rem;}

@media only screen and (min-width: 768px){
	.nav-wrapper .brand-logo{margin-left: 2%;font-size: 3rem;}
	.wc-landing--heading{height:450px;}
	.wc-landing--heading h1{font-size: 6rem;}
	.wc-dashboard--body [class*="col-"]{height:350px;}
	.newGoalForm form button {margin: 0 .3em 0 0; padding: 0.25em 1em;}
}

@media only screen and (min-width: 1024px){
	.wc-landing--heading{height:600px;}
	.wc-landing--heading h1{font-size: 9rem;}
	.newGoalForm form button {padding: 0.5em 1em;}
}
