@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/** RESPONSIVE GRID STYLES START **/



/** RESPONSIVE GRID STYLES END **/
html{height:100%;}
html body{background-color:#708090;}

div h1, div h2, div h3, div h4, div h5, div h6{margin:0;}
div ul{margin:0;}

form a {
  margin-left: 10px;
}

form label{color:#fff;}
form select, form .red-text{margin-bottom:1rem;}
#root form input{font-size:2rem; height:2.5rem;margin-bottom:5px;}
#root form select{cursor: pointer;}

.wc-main{font-family: "Raleway",sans-serif; width: 100%; margin:0; padding:0;}

.wc-main div.nav-wrapper{background-color: #607d8b;}
.wc-main .nav-wrapper a.left.brand-logo{font-family: 'Amatic SC', cursive; text-transform:uppercase;}

.login.btn{background-color: #d6635b;}
.login.btn:hover, .login.btn:focus{background-color: #b5544d;}
.logout.btn{padding:0 15px;}

/** LANDING PAGE STYLES **/
.wc-landing--heading{
	padding: 5%;
	background-color: #fff;
	background-image: url('./main-wallpaper.jpg');
    background-position-x: center;
    background-position-y: 90%;
	background-size: cover;
}

.wc-landing--heading h1{font-size: 3.2rem; text-transform: uppercase; margin:0;}

.wc-landing--section{color:#fff;}
.wc-landing--section > p{font-size: 1.8rem; margin: 5%;}

.wc-landing--section{text-align: center;}
.wc-landing--section.leaderboard h3{background-color: #e9967a; padding: 2% 5%;}

.leaderboard-profile{
	position: relative;
	width: 90%;
	height: 100px;
	margin: 5% auto 0;
	background-color: #fff;
	color:#000;
}

/** DASHBOARD STYLES **/
.wc-dashboard--header{
	text-align: center;
	padding:5%;
	color:#fff;
	background-color: #000;
	background-image: url('./dashboard-bg.jpg');
    background-position-x: center;
    background-position-y: 90%;
	background-size: cover;}
.wc-dashboard--header > div{padding: 5%;margin-bottom:8%;background-color: rgba(0,0,0,0.6);color: #fff;}
.wc-dashboard--header > div p{margin-bottom:5%; font-size:2rem;}
.wc-dashboard--header .wc-dashboard--user{font-size:2.5rem; line-height: 1; letter-spacing:3px;}
.wc-dashboard--header strong{font-size:2rem; line-height: 1.2;}
.wc-dashboard--wrapper .wc-dashboard--body{margin-bottom:0;}
.wc-dashboard--points{font-size:3rem;font-family: "Futura", futura, "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;color: #ffe400;}
.wc-dashboard--verses{background-color:#aa5555;}
.wc-dashboard--bible{background-color:#666677;}
.wc-dashboard--exercise{background-color:#557799;}
.wc-dashboard--reading{background-color:#778866;}

.wc-dashboard--recent{text-align:left; margin-top:8%; margin-bottom:8%; padding: 0 5%;}
.wc-dashboard--recent h3{
	font-size:1rem;
	font-weight: bold;
	text-transform: uppercase;
    letter-spacing: 2px;
	margin-bottom:2%;
	color: #fff;}
.wc-dashboard--recent > div{max-width: 768px; margin:0 auto;}

.wc-dashboard--recent .list{
	background-color: #000;
	color:#fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 1%;}
.wc-dashboard--recent .list li{line-height:2;}
.wc-dashboard--body .row{display:flex;flex-wrap:wrap;max-width:1200px}
.wc-dashboard--body .col-md-3{margin-bottom: 10%;}

.formTitle {
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
}

.newGoalForm{
	width:100%;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0 5%;
}

.newGoalForm form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.newGoalForm .form-buttons {
  margin-bottom: 5%;
  display: flex;
  justify-content: start;
}
.newGoalForm form button {
    margin: 0 1em 0 0;
    padding: .5rem 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  margin: 0em 2.5em;
  padding: 1.5em 0;
}

.list-item:last-of-type {
  border: none;
}

.list-item button.btn {
    font-size: 0.6rem;
    padding: 0 10px;
}

.charts {
  width: 100%;
  padding: 0 5%;
}

.chart-title {
  color: #fff;
}

.chart {
  padding: 10px;
  max-width: 768px;
  background-color: #384F65;
  border: 3px solid white;
  border-radius: 5px;
  margin: 1em auto;
}

.bar {
  height: 20px;
  margin: 3px 0;
  background-color: #FFEAA4;
  color: #C23A04;
  font-weight: bold;
  padding-left: 5px;
  white-space: nowrap;
  border-radius: 2px;
}

.info-nav {
  padding: 0 !important;
}

.info-tab {
  padding: 0.5em 0 !important;
  background-color: #fff;
  color: #222;
  font-size: 25px;
}

.info-tab h4, .info-tab h5, .info-tab a {
  padding: 20px;
}


.info-tab a {
  text-decoration: underline;
  color: #111;
}

.info-tab a:hover {
  color: #d84;
}

.info-tab img {
  width: 90%;
  max-width: 600px;
  margin: 1em auto;
}

.book, .verse {
  float: left;
  padding: 0.5em !important;
  width: 75%;
  margin: 2% 12.5%;
  border: 1px solid #ddd;
  height: auto;
  font-size: 0.8em;
  box-shadow: 3px 3px 3px #ccc;
}

.verse {
  height: 50px;
}

.newGoalForm form button:hover{background-color: #fff;color: #333;}

ul.leaderboard-list{max-width: 600px; margin: 0 auto 5%;}
.leaderboard-profile > div{float:left; text-align: center;}
.leaderboard-rank{width:20%;line-height: 1.7;font-size: 4rem;}
.leaderboard-name{width:45%;line-height: 4.8;font-size: 1.5rem;}
.leaderboard-points{width:35%;line-height: 2.3;font-size: 3rem;}

@media only screen and (min-width: 768px){
  .book {
    width: 30%;
    margin: 1.66%;
    height: 110px;
  }

  .verse {
    width: 45%;
    margin: 1% 2.5%;
    height: 50px;
  }

	.nav-wrapper .brand-logo{margin-left: 2%;font-size: 3rem;}
	.wc-landing--heading h1{font-size: 6rem;}
	.wc-dashboard--header > div p{letter-spacing: 3px;}
	.wc-dashboard--header .wc-dashboard--user{font-size:4rem; line-height: 1; letter-spacing:4px;}

	.wc-dashboard--recent h3{font-size:1.5rem; letter-spacing: 4px;}
	.wc-dashboard--recent .list li{font-size:1.3rem;}

	.list-item button.btn {
	    font-size: 1rem;
	    padding: 0 2rem;
	}

	.wc-dashboard--body .col-md-3{display:flex;}
	.newGoalForm{height: 320px;}
}

@media only screen and (min-width: 1024px){
	.wc-landing--heading h1{font-size: 9rem;}

	.wc-dashboard--recent{margin-top: 5%; margin-bottom: 5%; text-align:left;}
	.wc-dashboard--recent h3{font-size:2rem;}

	.wc-dashboard--body .col-md-3{margin-bottom: 0;}
	.newGoalForm{height: auto;}
}
