@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/** RESPONSIVE GRID STYLES START **/



/** RESPONSIVE GRID STYLES END **/
html{height:100%;}
html body{background-color:#708090;}

div h1, div h2, div h3, div h4, div h5, div h6{margin:0;}
div ul{margin:0;}

form a {
  margin-left: 10px;
}

form label{color:#333;}

.wc-main{font-family: "Raleway",sans-serif; width: 100%; margin:0; padding:0;}

.wc-main div.nav-wrapper{background-color: #607d8b;}
.wc-main .nav-wrapper a.left.brand-logo{font-family: 'Amatic SC', cursive; text-transform:uppercase;}

.login.btn{background-color: #d6635b;}
.login.btn:hover, .login.btn:focus{background-color: #b5544d;}
.logout.btn{padding:0 15px;}

/** LANDING PAGE STYLES **/
.wc-landing--heading{
	padding: 10% 5%;
	background-color: #fff;
	background-image: url('./main-wallpaper.jpg');
    background-position-x: center;
    background-position-y: 90%;
	background-size: cover;
}

.wc-landing--heading h1{font-size: 3.2rem; text-transform: uppercase; margin:0;}

.wc-landing--section{color:#fff;}
.wc-landing--section > p{font-size: 1.8rem; margin: 5%;}

.wc-landing--section.leaderboard{text-align: center;}
.wc-landing--section.leaderboard h3{background-color: #e9967a; padding: 2% 5%;}

.leaderboard-profile{
	position: relative;
	width: 90%;
	height: 100px;
	margin: 5% auto 0;
	background-color: #fff;
	color:#000;
}

/** DASHBOARD STYLES **/
.wc-dashboard--header{
	text-align: center;
	padding:5%;
	color:#fff;
	background-color: #000;
	background-image: url('./dashboard-bg.jpg');
    background-position-x: center;
    background-position-y: 90%;
	background-size: cover;}
.wc-dashboard--header > div{padding: 5%;margin-bottom:8%;background-color: rgba(0,0,0,0.6);color: #fff;}
.wc-dashboard--header h3{margin-bottom:5%;}
.wc-dashboard--header strong{font-size:2rem; line-height: 1.2;}
.wc-dashboard--wrapper .wc-dashboard--body{margin-bottom:0;}
.wc-dashboard--points{font-size:3rem;font-family: "Futura", futura, "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;color: #ffe400;}
.wc-dashboard--verses{background-color:#aa5555;}
.wc-dashboard--bible{background-color:#666677;}
.wc-dashboard--exercise{background-color:#557799;}
.wc-dashboard--reading{background-color:#778866;}

.wc-dashboard--recent{text-align:left; margin-top:8%; margin-bottom:8%;}
.wc-dashboard--recent h3{
	font-size:1rem; 
	font-weight: bold; 
	text-transform: uppercase; 
    letter-spacing: 2px;
	margin-bottom:2%;
	color: #fff;}
.wc-dashboard--recent > div{max-width: 768px; margin:0 auto;}

.wc-dashboard--recent .list{
	background-color: #000;
	color:#fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 3%;}
.wc-dashboard--recent .list li{line-height:2;}

.formTitle {
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
}

.newGoalForm form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.newGoalForm form div:last-of-type {
  margin-bottom: 5%;
}
.newGoalForm form button {
    margin: 0 1em 0 0;
    padding: 0.25em 1em;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.newGoalForm form button:hover{background-color: #fff;color: #333;}

ul.leaderboard-list{max-width: 600px; margin: 0 auto 5%;}
.leaderboard-profile > div{float:left; text-align: center;}
.leaderboard-rank{width:20%;line-height: 1.7;font-size: 4rem;}
.leaderboard-name{width:45%;line-height: 4.8;font-size: 1.5rem;}
.leaderboard-points{width:35%;line-height: 2.3;font-size: 3rem;}

@media only screen and (min-width: 768px){
	.nav-wrapper .brand-logo{margin-left: 2%;font-size: 3rem;}
	.wc-landing--heading h1{font-size: 6rem;}
	.wc-dashboard--body [class*="newGoalForm"]{height:330px;}
	.wc-dashboard--recent{margin-top:5%; margin-bottom:5%;}
	.wc-dashboard--recent h3{font-size:1.5rem; letter-spacing: 4px;}
	.wc-dashboard--recent .list li{font-size:1.3rem;}

	.newGoalForm form button {margin: 0 .3em 0 0; padding: 0.25em 1em;}
}

@media only screen and (min-width: 1024px){
	.wc-landing--heading h1{font-size: 9rem;}
	.newGoalForm form button {padding: 0.5em 1em;}

	.wc-dashboard--recent{text-align:left; margin-top:3%; margin-bottom:3%;}
	.wc-dashboard--recent h3{font-size:2rem;}
}
